.click-effect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    border-color: #ffad00;
    border-radius: 50%;
    animation: click-effect 1.7s ease-out;
    z-index: 99999;
}
@keyframes click-effect {
    0%{
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.5em;
    }
    100% {
        opacity: 0.2;
        width: 12em;
        height: 12em;
        margin: -6em;
        border-width: 0.03em;
    }
}
.selection-effect {
    position: fixed;
    background-color: #ffad00;
    animation: selection-effect 0.8s forwards;
    z-index: 99999;
}
@keyframes selection-effect {
    0%{
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 0.5;
    }
}
